.father {
    display: block;
    background-image: url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/06/agentes-shield-temporada-4-promo-venganza-motorista-fantasma-216218.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh;
}
.traffic-light {
    background: black;
    padding: 10px;
    display: inline-block;
    margin: auto;
    margin-left: 45%;
    border-radius: 10px;
}
.stick {
    background: black;
    padding: 10px;
    margin-left: 48%;
    margin-right: 50%;
    margin-top: 0; 
}
.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.shine-red {
    box-shadow: 0px 0px 10px 5px rgb(244, 38, 38);
}
.shine-yellow {
    box-shadow: 0px 0px 10px 5px rgb(242, 255, 1);
}
.shine-green {
    box-shadow: 0px 0px 10px 5px rgb(0, 255, 13);
}
